{% extends 'base.html.twig' %}

{% block title %}Ad{% endblock %}

{% block body %}
<br>
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
{% endif %}
    <h1>Show Ad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ad.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ad.content }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ ad.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ad_index') }}">back to list</a>

    <a href="{{ path('ad_edit', {'id': ad.id}) }}">edit</a>

    {{ include('ad/_delete_form.html.twig') }}
{% endblock %}
